In [1]:
import pandas as pd

In [2]:
df1= pd.read_excel('Excel_old.xlsx')
df2= pd.read_excel('Excel_new.xlsx')

In [3]:
dfDiff = df1.copy()
for row in range(dfDiff.shape[0]):
    for col in range(2,dfDiff.shape[1]):
        value_OLD = df1.iloc[row,col]
        value_NEW = df2.iloc[row,col]
        if value_OLD==value_NEW:
            dfDiff.iloc[row,col] = 0
        else:
            dfDiff.iloc[row,col] = value_OLD-value_NEW

In [4]:
dfDiff

  Unique ID Data Point  2020  2021  2022  2023
0       Abc      Var_a     0     0     0     0
1       Abc      Var_b     0     0   352     0
2       Def      Var_a     0     0     0   389
3       Def      Var_b     0     0     0     0
4       Ghi      Var_a     8     0  -423     0
5       Ghi      Var_b     0     0     0     0
6       Jkl      Var_a     0 -5000     0     0
7       Jlk      Var_b     0     0     0     0
8       Mno      Var_a     0     0     0    55
9       Mno      Var_b     0     0     0     0