In [2]:
%config IPCompleter.greedy=True

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('results.csv')

In [8]:
df.head(20)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Republic of Ireland,False

In [11]:
fifa = df[df['tournament']=='FIFA World Cup']

In [12]:
fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1304,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1305,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1306,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1307,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1308,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
39928,2018-07-07,Russia,Croatia,2,2,FIFA World Cup,Sochi,Russia,False
39929,2018-07-10,France,Belgium,1,0,FIFA World Cup,St. Petersburg,Russia,True
39930,2018-07-11,Croatia,England,2,1,FIFA World Cup,Moscow,Russia,True
39931,2018-07-14,Belgium,England,2,0,FIFA World Cup,St. Petersburg,Russia,True
39932,2018-07-15,France,Croatia,4,2,FIFA World Cup,Moscow,Russia,True

In [14]:
loca={}

In [26]:
yr=pd.DatetimeIndex(fifa['date']).year.unique()

In [34]:
yr

Int64Index([1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978,
            1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018],
           dtype='int64', name='date')